body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }

  .logo-plugin {
    display: block;
    margin: 0 auto 1rem auto;
    max-width: 240px;
    height: auto;
  }
  
  h2 {
    text-align: center;
    color: #2c3e50;
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    background-color: #25d366;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background 0.2s ease-in-out;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #1ebe57;
  }
  
  .success {
    color: green;
    margin-top: 20px;
  }
  
  .error {
    color: red;
    margin-top: 20px;
  }
  
  .btn-volver {
    width: 100%;
    background-color: #bdbdbd;
    color: #222;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background 0.2s ease-in-out;
    margin-top: 1rem;
  }

  .btn-volver:hover {
    background-color: #9e9e9e;
  }
  
  .btn-gris:hover {
    background-color: #9e9e9e;
  }
  
  .botones-resumen {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .botones-resumen button {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  #confirmarEnvio {
    background-color: #25d366;
    color: white;
  }
  
  #confirmarEnvio:hover {
    background-color: #1ebe57;
  }

  .btn-gris {
    background-color: #ccc;
    color: #333;
  }

  .botones-formulario {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .botones-formulario button {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .animate-blink {
    animation: blink 1.2s infinite ease-in-out;
  }
  
  
  /* Glow suave alrededor del badge */
  @keyframes glow {
    0% {
      box-shadow: 0 0 0px rgba(250, 204, 21, 0.7);
    }
    50% {
      box-shadow: 0 0 12px rgba(250, 204, 21, 0.9);
    }
    100% {
      box-shadow: 0 0 0px rgba(250, 204, 21, 0.7);
    }
  }

  .glow-badge {
    animation: glow 1.8s infinite ease-in-out, blink 1.2s infinite ease-in-out;
  }